<h3>Pokemon list</h3>

<div class="pokemons">
  <div class="pokemons__list">
    {{#each model as |pokemon|}}
      {{#link-to 'pokemons.pokemon' pokemon.id class="link"}}
        {{pokemon-list-element pokemon=pokemon}}
      {{/link-to}}
    {{/each}}
  </div>

  <div class="pokemons__details">
    {{outlet}}
  </div>
</div>
